html {
    box-sizing: border-box
  }
  
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  
  body {
    background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif   font */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
  }

nav{
  display: flex;
  justify-content: space-between;
  height 55px;
  background-color: #fff;
}

nav > div{
  display: flex;
  align-items: center;
  padding: 0 24px;
  gap: 25px;
  font-weight: 600;
}

button {
  border-radius: 100px;
  height: 30px;
  padding: 0 18px;
}

#log-in {
  background-color: #f5f8ff;
  border: 1px solid #dee8ff;
  color: #0057ff;
}

#sign-up {
  background-color: #0057ff;
  border: none;
  color: #fff;
}

